/* src/app/globals.css */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-sans: var(--font-poppins);
}

body {
  background: rgb(103, 179, 153);
  font-family: var(--font-sans), sans-serif;
}
